/*公共*/
*{/*清除所有元素的默认内外边距*/
    padding:0px;
    margin:0px;
 }

.container{ /*用类选择器将container类，将此模块宽度设为固定1000，其中内容自动居中*/
    width:1000px;
    margin: 0 auto;
}

body { /*设置全局body样式*/
    padding-top: 60px;  /*上内边距*/
    background-color: #f9f0f0;/*背景颜色*/
    background-image:url(images/D11.jpg);/*背景图片（会覆盖掉背景颜色）*/
    background-position:top left;
    background-repeat:round;
    background-size:cover;
    color: #aca9a9;/*字体颜色*/
    font-family: verdana, arial, sans-serif;/*字体选定，前两种为指定字体，依次，第一种不行就用第二种；后一种是通用字体，作为后路*/
    font-size: 10px;
    text-align: center;/*对齐方式*/
    letter-spacing: 1px;/*字母间距*/
}
/*布局*/
/*设置左右栏*/
#content-wrapper article{/*id为content-wrapper元素中的article模块*/
    background-color: #535353;
    width:620px;
    display:inline-block;/*元素生成框的类型为行内块元素*/
    vertical-align: top;/*设置垂直对齐方式：把元素的顶端与行中最高元素的顶端对齐*/
    margin-right:10px;/*右外边距为10px*/
}

#content-wrapper aside{
    background-color: #535353;
    width:370px;
    display:inline-block;
    vertical-align:top;
}
/*设置左右栏完毕*/

/*左边内容区:世界政府与四皇模块内容水平呈现*/
.article-section section{
    width:290px;
    display:inline-block;
    vertical-align:top;
    text-align:center;
    margin:10px 0px 10px 10px;
}

/*右侧边栏其他部分水平呈现*/
.aside-section{
    width:180px;
    display:inline-block;
    vertical-align:top;
    margin-right:5px;
}
.article-section section h3{
    margin:5px 0 10px 0;
}

/*定义世界政府和四皇下边框虚线*/
.article-section{
    border-bottom:#CCC dashed 5px;/*dashed 虚线*/
    margin-bottom:10px;
}

/*草帽海贼团与关于作者：封面和文字水平呈现*/
/*草帽海贼团*/
.recommend img{
    display:inline-block;
    width:150px;
    height:270px;
    margin-bottom:10px;
}
.recommend .recommend-content{
    display:inline-block;
    margin-left:10px;
    width:420px;
    vertical-align:top;
    box-sizing:border-box;
    padding-right:20px;
}

/*关于作者*/
.about img{
    display:inline-block;
    width:360px;
    height:200px;
    box-sizing:border-box;
    padding:10px 10px;
}
.about p{
    display:inline-block;
    width:250px;
    vertical-align:top;
    box-sizing:border-box;
    padding-bottom:10px;
}
/*布局结束*/

/*文本*/
body{font:62.5%/1.4 "微软雅黑", Verdana,Arial,Helvetica,sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:1.6em;}
p,a,span{font-size:1.4em;}
p{
    text-indent:2em;
    text-align:justify; /*两端对齐*/
}
ul{list-sytle-type:none;}
img{border:none;}
mark{
    background-corlor:#e3b503;
    corlor:#FFFFFF;
}
/*文本结束*/

/*背景*/
/*页眉*/
header{
    height:370px;
    background-image:url("images/D4.jpg");
    position:relative;/*生成元素位置：相对固定*/
}
/*导航菜单*/
#nav{
    background-image:url("images/D2.jpg");
    background-position:center;
    height:100px;
    width:1000px;
    margin:auto;

}
/*页脚*/
#footer-wrapper{
    background-image:url("images/D1.jpg");
    height:25px;

}
/*标题*/
h2[id^="title"]{
    color: #e29c4c;
    margin-top:5px;
    padding-bottom:5px;
    background-image:url("images/C1.gif");
    background-size:600px 40px;
    background-repeat:no-repeat;
    padding-left:30px;
    border-bottom:1px solid #d28135;
}
/*相框背景*/
.promotion{
    border: #363ccc solid 5px;
    width:100px;
    background-color: #8fc8cb;
    background-image:url("images/");
    background-repeat:no-repeat;
    background-position:top right;
    padding:25px;
    margin:10px;
}
/*背景结束*/

/*其他细节*/
/*草帽海贼团*/
.recommend h3 {
    text-align:center;
    padding-bottom:10px;
    padding-top:10px;
}
.recommend {
    border-bottom:#CCC dashed 1px;
    positon:relative;
}
.recommend .cartmore{
    width:98%;
    text-align:right;
    margin-bottom:10px;
}
/*访问者信息*/
.border{
    text-align:center;
    margin:10px 0px;
}
.border img{
    width:370px;
}

section#advert a{display:block;}
section#advert img{width:370px;}
section#advert{margin:10px 0px;}

/*关于作者*/
.about h2{margin-bottom:10px;}
/*页脚文字*/
footer section{float:right;}
#copyright{
    color:#000000;
    text-align:center;
    font-size:1.6em;
    margin:30px auto;
}
/*页眉logo*/
#logo{
    position:absolute;
    top:25px;left:90px;
}
#logo a{
    font-size:1.8em;
    color:#503;
    text-decoration:none;
}
#logo a h1{
    font-weight:normal;
}
/*其他细节结束*/

/*超链接、伪类、动画样式设计*/
/*本周推荐*/
.recommend img{opacity:1;}   /*此处设置图片透明度为1，当鼠标悬停时图片透明度变为0.8*/
.recommend img:hover{opacity:0.8;}

/*页眉Logo字号设置*/
#logo a h1:first-letter{font-size:200%;}


/*海军与世界政府*/
.effect-1 img{
    vertical-align:middle;
    width:290px;
}
.text-desc{ /*文本设置，将其设置在图片之下*/
    position:absolute;
    left:0px;
    top:0px;
    height:100%;
    width:88%;
    margin-bottom:25px;
    padding:10px 10px 10px 18px;
    opacity:0;
    z-index:-1;
}
.effect-1{
    position:relative;
    overflow:hidden;  /*当元素溢出框时，隐藏*/
    border:3px solid rgba(255,0,0,0.3);
    perspective:800px;/*设置鼠标悬停时图片的折叠度*/
}
.effect-1:hover .image-box{ /*鼠标悬停时图片变形*/
    transform:rotateX(75deg);/*沿x轴3D旋转*/
    transition:1s;
    transform-origin:center bottom;
}
.effect-1:hover .text-desc{
    opacity:1;
    transition:2s;
 }
 .btn{  /*设置超链接框*/
     display:inline-block;
     padding:2px 10px;
     font-size:14px;
     color:#fff;
     border:1px solid #FF0000;
     background-color:#FF0000;
     text-decoration:none;
     transition:0.4s;
 }
 .btn:hover{
     background-color:transparent;
     color:#FF0000;
     transition:0.4s;
 }

/*路飞的亲人*/
#best-selling li:before{
    content:counter(listxh);
    background:#7b5830;
    padding:2px 5px;
    color:#fff;
    margin-right:5px;
    vertical-align:top;
}
#best-selling li{
    counter-increment:listxh;
    display:inline-block;
    width:100%;
    vertical-align:bottom;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    margin-top:8px;
    transition:text-shadow 1s linear;
    border-bottom:#CCC dashed 1px;
}
#best-selling .curr .p-img{display:inline-block;}
#best-selling .curr .p-name{
    display:inline-block;
    vertical-align:top;
}
#best-selling .curr .p-name strong{
    display:block;
    color:#FF0000;
    text-align:left;
    margin-top:20px;
    font-size:1.4em;
}
#best-selling .curr .p-name p{font-size:1.4em;font-weight:900;}
#best-selling .curr{display:none;}
#best-selling a{
    color:#000000;
    text-decoration:none;
    font-size:1.6em;
}
#best-selling li:hover{text-shadow:1px 4px 4px #000;}
#best-selling li:hover .selling{display:none;}
#best-selling li:hover .curr{display:inline-block;}
/*超链接、伪类、动画样式设计结束*/

/*表单*/
form{
    text-align:left;
    padding-bottom:20px;
    padding-top:20px;
    margin-left:40px;
    font-size:15pt;
    line-height:28pt;
}
#image1{
    height:200px;
    width:180px;
    margin-top:30px;

}

/*表格*/
table
{
    border-collapse:collapse;
    margin:auto;

}

table, td, th
{
    border:3px double #e31657;
}


#copyright/*底部漂浮*/
{
    width:100px;
    height:25px;
    background: #d5ff53;
    position:relative;
    animation:mymove 5s infinite;
    -webkit-animation:mymove 5s infinite;
}

@keyframes mymove
{
    from {left:-200px;}
    to {left:200px;}
}

@-webkit-keyframes mymove
{
    from {left:0px;}
    to {left:200px;}
}

header/*页眉漂浮*/
{
    height:370px;
    position:relative;
    animation:mymove1 5s infinite;
    animation-iteration-count:1;

}

@keyframes mymove1
{
    from {top:-500px;}
    to {top:0px;}
}






